@use '@styles/themes';

.button {
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: auto;
  border: none;
  border-radius: 0.25rem;
  padding: 0.5rem 1.5rem;
  font-size: inherit;
  line-height: inherit;
  color: inherit;

  &:active {
    box-shadow: none;
  }

  @include themes.themed {
    background-color: themes.t('bg-button');
    border-bottom: 3px solid themes.t('border-button');
    border-left: 3px solid themes.t('border-button');
    box-shadow: 0 1px 3px 0 themes.t('shadow-button'), 0 1px 2px -1px themes.t('shadow-button');

    &:active,
    &:hover {
      box-shadow: none;
      border-color: themes.t('border-button-hover');
      background-color: themes.t('bg-button-hover');
    }
  }
}
