$black-russian: #111827;
$blue-charcoal: #19212c;
$blue-grey: #2a384c;
$bone: #e4dbcd;
$chinese-violet: #7a6174;
$deep-ocean: #314158;
$floral-white: #fffaf0;
$frostee: #dee8d5;
$grey-light: #cccccc;
$isabelline: #f4f0ec;
$ivory: #fdfff0;
$linen: #f6f1ea;
$midnight: #1f2937;
$midnight-light: #3a4d68;
$mint-mist: #d1e4d6;
$pale-dogwood: #e0c1b3;
$peach: #ffdfd7;
$pink-lavender: #d1b1c8;
$pink-lavender-light: #e4d1df;
$pink-pearl: #ede1ea;
$puce: #c37d92;
$purple-dark: #381d2a;
$purple-taupe: #4c3b4d;
$rosy-brown: #d89a9e;
$seashell: #fff3f0;
$slate-light: #3f4c5f;
$slate-dark: #354050;
$slate-darkest: #283548;
$smoky: #100c08;
$snow: #fffbfb;
$space-grey: #4a5966;
$steel-blue: #4682b4;
$tea-green: #cddfa0;
$thistle: #cfbcdf;
$trick-dog: #38b6ff;

$bg-primary--dark: $midnight;
$bg-primary--light: $floral-white;
$bg-secondary--dark: $black-russian;
$bg-secondary--light: white;
$shadow-primary--dark: hsl(215deg 42% 5% / 0.7);
$shadow-primary--light: hsl(40deg 28% 75% / 0.5);
$shadow-secondary--dark: hsl(221deg 63% 1% / 0.5);
$shadow-secondary--light: hsl(0deg 0% 53% / 0.5);

$bg-button--dark: #626973;
$bg-button--light: #d1e4d6;
$bg-button-hover--dark: #6e7681;
$bg-button-hover--light: #dceae0;
$bg-button-card--dark: #2b3f41;
$bg-button-card--light: #fff3d7;
$bg-button-card-hover--dark: #354e50;
$bg-button-card-hover--light: #fff6d7;
$bg-card--dark: $slate-dark;
$bg-card--light: $peach;
$bg-checkbox-checked--dark: #284547;
$bg-checkbox-checked--light: #dceae0;
$bg-checkbox-deck--dark: $slate-light;
$bg-checkbox-deck--light: $peach;
$bg-checkbox-input--dark: rgb(41 51 64);
$bg-checkbox-input--light: white;
$bg-checkbox-tags--dark: hsl(216deg 20% 25%);
$bg-checkbox-tags--light: $seashell;
$bg-deck--dark: $slate-dark;
$bg-deck--light: $seashell;
$bg-deck-hover--dark: $slate-light;
$bg-deck-hover--light: $peach;
$bg-dropdown--dark: hsl(221deg 39% 15% / 0.975);
$bg-dropdown--light: rgb(255 255 255 / 0.975);
$bg-form-element--dark: rgb(86 92 101 / 0.2);
$bg-form-element--light: white;
$bg-nav--dark: $blue-grey;
$bg-nav--light: $linen;
$bg-nav-gradient-primary--dark: $deep-ocean;
$bg-nav-gradient-primary--light: $pink-lavender-light;
$bg-nav-gradient-secondary--dark: $midnight-light;
$bg-nav-gradient-secondary--light: $pink-lavender;
$bg-nav-hover--light: $pink-pearl;
$bg-nav-hover--dark: $slate-darkest;
$bg-nav-mobile--dark: $black-russian;
$bg-nav-mobile--light: $mint-mist;
$border-button--dark: #4b5057;
$border-button--light: #b1d1ba;
$border-button-hover--dark: #565c65;
$border-button-hover--light: #c1dac8;
$border-button-card--dark: #172122;
$border-button-card--light: #ffdc8b;
$border-button-card-hover--dark: #213032;
$border-button-card-hover--light: #ffe58c;
$border-form-element--dark: $bg-button--dark;
$border-form-element--light: $border-button--light;
$shadow-button--dark: $shadow-primary--dark;
$shadow-button--light: $shadow-primary--light;
$shadow-button-card--dark: hsl(216deg 28% 13% / 0.7);
$shadow-button-card--light: hsl(12deg 36% 58% / 0.35);
$shadow-button-secondary--dark: $shadow-secondary--dark;
$shadow-button-secondary--light: $shadow-secondary--light;
$shadow-card--dark: $shadow-secondary--dark;
$shadow-card--light: $shadow-secondary--light;
$shadow-deck--dark: $shadow-secondary--dark;
$shadow-deck--light: $shadow-secondary--light;
$shadow-form-element--dark: $shadow-primary--dark;
$shadow-form-element--light: $shadow-primary--light;
$shadow-form-element-dropdown--dark: $shadow-secondary--dark;
$shadow-form-element-dropdown--light: $shadow-secondary--light;
$shadow-nav--dark: $blue-charcoal;
$shadow-nav--light: $bone;
$text--dark: $isabelline;
$text--light: $smoky;
$text-form-element-placeholder--dark: #bfc2c9;
$text-form-element-placeholder--light: #626973;

// X-Small devices (portrait phones, less than 576px)
// Small devices (landscape phones, 576px and up)
$breakpoint-sm: 576px;
// Medium devices (tablets, 768px and up)
$breakpoint-md: 768px;
// Large devices (desktops, 992px and up)
$breakpoint-lg: 992px;
// X-Large devices (large desktops, 1200px and up)
$breakpoint-xl: 1200px;
// XX-Large devices (larger desktops, 1400px and up)
$breakpoint-xxl: 1400px;
