$floral-white: #fffaf0;
$blue-charcoal: #19212c;
$blue-grey: #2a384c;
$bone: #e4dbcd;
$chinese-violet: #7a6174;
$deep-ocean: #314158;
$isabelline: #f4f0ec;
$ivory: #fffff0;
$linen: #f6f1ea;
$midnight: #1f2937;
$midnight-light: #3a4d68;
$pale-dogwood: #e0c1b3;
$peach: #f7c59f;
$pink-lavender: #d1b1c8;
$pink-lavender-light: #e4d1df;
$pink-pearl: #ede1ea;
$puce: #c37d92;
$rosy-brown: #d89a9e;
$seashell: #fff5ee;
$slate-dark: #283548;
$smoky: #100c08;
$space-grey: #4a5966;
$steel-blue: #4682b4;
$thistle: #cfbcdf;
$trick-dog: #38b6ff;

$text--dark: $isabelline;
$text--light: $smoky;
$bg--dark: $midnight;
$bg--light: $floral-white;
$bg-nav--dark: $blue-grey;
$bg-nav--light: $linen;
$bg-nav-gradient-primary--dark: $deep-ocean;
$bg-nav-gradient-primary--light: $pink-lavender-light;
$bg-nav-gradient-secondary--dark: $midnight-light;
$bg-nav-gradient-secondary--light: $pink-lavender;
$bg-nav-hover--light: $pink-pearl;
$bg-nav-hover--dark: $slate-dark;
$shadow--dark: $blue-charcoal;
$shadow--light: $bone;
