@use '@styles/themes';

.card {
  display: flex;
  flex-direction: column;

  @include themes.themed {
    background-color: themes.t('bg-card');
    box-shadow: 0 1px 3px 0 themes.t('shadow-deck'), 0 1px 2px -1px themes.t('shadow-deck');
  }
}

.buttons {
  display: flex;
}
