.form {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  justify-content: flex-start;
  align-items: stretch;

  &__buttons {
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
  }
}
