@use '@styles/variables' as var;

.tags-container {
  grid-area: main;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.heading {
  font-size: 1.25rem;
}

.form {
  display: flex;
  align-items: first baseline;
  gap: 0.25rem;
  width: 100%;
}
