@use '@styles/themes';
@use '@styles/variables' as var;
@use '@styles/containers';

.container {
  display: flex;
  justify-content: center;
  align-items: stretch;
  margin: auto;
  width: 100%;
  height: calc(100vh - 4rem);
  flex-grow: 1;

  // Enable scrolling - must match media query used in
  // CardList component.
  @media (max-height: 800px) {
    height: 100%;
  }
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  min-height: 100%;
  flex-grow: 1;
}

.top {
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: stretch;
  width: 100%;
  padding: 0.5rem 0.25rem 0.75rem;
  gap: 0.5rem;

  @media (max-width: var.$breakpoint-xl) {
    padding: 0.5rem 0.5rem 0.75rem;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 0.5rem;

    &--upper {
      align-items: center;

      @media (max-width: var.$breakpoint-sm) {
        flex-direction: column-reverse;
        align-items: flex-start;
        gap: 0;
      }
    }

    &--lower {
      align-items: stretch;
    }
  }

  &__heading {
    margin: 0;
    line-height: 1.25em;
    vertical-align: top;

    // Cut off text that exceeds 1 line
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;

    @media (max-width: var.$breakpoint-sm) {
      font-size: 1.5rem;
    }
  }
}

.cardOptions {
  display: flex;
  align-items: stretch;
  gap: 0.5rem;
}

.filters {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: stretch;

  @media (max-width: var.$breakpoint-sm) {
    position: static;
  }

  &__search,
  &__select {
    height: 100%;

    @media (max-width: var.$breakpoint-lg) {
      height: 35%;
    }
  }

  &__container {
    display: flex;
    align-items: stretch;
    gap: 0.5rem;

    @media (max-width: var.$breakpoint-lg) {
      flex-direction: column;
      justify-content: space-evenly;
      padding: 1.5rem;
      position: absolute;
      top: calc(100% + 0.5rem);
      right: 0;
      height: 250px;
      width: 400px;
      max-width: calc(100vw - 20px);
      border-radius: 0.25rem;
      box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
      transition: height 150ms ease-out;

      @include themes.themed {
        background-color: themes.t('bg-dropdown');
      }

      &--collapsed:not(:focus-within) {
        @include containers.visually-hidden;
      }
    }

    @media (max-width: var.$breakpoint-sm) {
      left: 50%;
      transform: translate(-50%, 0);
    }
  }

  &__toggle {
    display: none;

    @media (max-width: var.$breakpoint-lg) {
      display: block;
    }
  }
}
