@use '@styles/themes';
@use '@styles/variables' as var;

.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: auto;
  width: 100%;
  height: calc(100vh - 4rem);
  flex-grow: 1;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  height: 100%;
}

.top {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: stretch;
  width: 100%;
  padding: 0.5rem 0.25rem 0.75rem;
  gap: 0.5rem;

  @media screen and (max-width: var.$breakpoint-xl) {
    padding: 0.5rem;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;

    &--upper {
      align-items: flex-start;
    }

    &--lower {
      align-items: flex-end;
    }
  }

  &__heading {
    margin: 0;
    line-height: 1.25em;
    vertical-align: top;

    // Cut off text that exceeds 1 line
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
  }
}

.cardOptions {
  display: flex;
  align-items: stretch;
  gap: 0.5rem;
}

.filters {
  display: flex;
  align-items: stretch;
  gap: 0.5rem;
}
