@use '@styles/variables' as var;
@use '@styles/themes';

.content {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
  margin: 0 auto;
  flex-grow: 1;
  width: 100%;
  max-width: 1000px;
  padding: 1.5rem;
  text-align: center;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  padding-bottom: 1.5rem;
}

.heading {
  font-family: 'Figtree';
  font-size: 6rem;
  margin: 0;

  @media (max-width: var.$breakpoint-sm) {
    font-size: 2.5rem;
  }
}

.subheading {
  font-size: 1.875rem;
  margin: 0;

  @media (max-width: var.$breakpoint-sm) {
    font-size: 1.25rem;
  }
}

.details {
  font-size: 1.25rem;
  margin-bottom: 2rem;

  @media (max-width: var.$breakpoint-sm) {
    font-size: 1rem;
    margin-top: 0.5rem;
  }
}

.logo {
  fill: var.$trick-dog;
  width: 100px;
  height: 100px;
  margin: auto;
}

.github {
  width: fit-content;
  border: 1px solid;
  padding: 0.5rem;
  margin: auto;

  @include themes.themed {
    background-color: themes.t('bg-deck');
    box-shadow:
      0 1px 3px 0 themes.t('shadow-deck'),
      0 1px 2px -1px themes.t('shadow-deck');

    &:active,
    &:hover {
      background-color: themes.t('bg-deck-hover');
    }
  }
}
