@use '@styles/themes';

.fieldset {
  min-height: 5.75rem;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  border-radius: 0.25rem;
  border: 2px solid;
  margin: 0;

  @include themes.themed {
    border-color: themes.t('border-form-element');
    box-shadow: 0 1px 3px 0 themes.t('shadow-form-element'),
      0 1px 2px -1px themes.t('shadow-form-element');
  }
}

.legend {
  font-weight: 600;
}
