@use './styles/themes';

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
}

div {
  flex-grow: 1;
  width: 100%;
  @include themes.themed {
    background-color: themes.t('bg');
    color: themes.t('text');
  }
}
